<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1><% t=Time.now %>The date is <%= t.strftime("%A, %B %d, %Y") %></h1>
    </body>
</html>


<!--time.strftime("%d/%m/%Y")        # "05/12/2015"-->
<!--time.strftime("%k:%M")           # "17:48"-->
<!--time.strftime("%I:%M %p")        # "11:04 PM"-->
<!--time.strftime("Today is %A")     # "Today is Sunday"-->
<!--time.strftime("%d of %B, %Y")    # "21 of December, 2015"-->
<!--time.strftime("Unix time is %s") # "Unix time is 1449336630"-->